<mat-card class="about mat-elevation-z4">
  <mat-card-header>
    <div mat-card-avatar class="card-header-image"></div>
    <mat-card-title>
      <a href="https://github.com/hausmaneric" class="link">Eric Hausman</a>
    </mat-card-title>
    <mat-card-subtitle>Forntend developer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-title class="title">Desenvolvendo blog em angular</mat-card-title>
  <mat-card-subtitle class="subtitle">Sobre Mim</mat-card-subtitle>
  <mat-card-content class="mat-card-content">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis libero corporis in, culpa pariatur similique architecto rem qui temporibus rerum? Beatae assumenda cumque officiis sequi omnis asperiores odio ea itaque.</p>
    <a href="https://github.com/hausmaneric" target="_blank">
      <img src="https://img.shields.io/badge/Github-100000?style=for-the-badge&logo=github&logoColor=white" alt="github-logo">
    </a>
  </mat-card-content>
</mat-card>
